/* ------------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
/* ----------------- VARIABLES ---------------- */
/* ------------------- ROOT ------------------- */
:root {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

/* ------------------ GENERAL ----------------- */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------ HEADER ------------------ */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* LOGO */
  /* NAVIGATOR */
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  margin-left: 40px;
}

.header__logo .fa-bath {
  color: #018ccf;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__logo .fa-bath:hover {
  color: #004262;
  font-size: 3.4rem;
}

.header__navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

/* NAVBAR */
.navbar {
  /* Items */
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

.navbar__item {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  list-style-type: none;
  margin: 0 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* Static Item */
  /* Hovered Items */
}

.navbar__item--static::before {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 3px;
  margin: 5px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  opacity: 1;
  background-color: #018ccf;
}

.navbar__item--static:hover::before {
  background-color: #004262;
}

.navbar__item--hovered::before, .navbar__item--hovered::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 0%;
  height: 3px;
  margin: 5px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  opacity: 0;
  left: 0;
  background-color: #004262;
}

.navbar__item--hovered:hover {
  cursor: pointer;
}

.navbar__item--hovered:hover::after, .navbar__item--hovered:hover::before {
  width: 100%;
  opacity: 1;
}

.navbar__link {
  text-decoration: none;
  color: #018ccf;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar__link:hover {
  color: #004262;
}

/* FRESH (BTN) */
.fresh__button {
  height: 50px;
  width: 140px;
  border: none;
  background-color: #006190;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fresh__button:hover {
  background-color: #004262;
}

/* ------------------ MOBILE ------------------ */
@media only screen and (max-width: 768px) {
  /* GENERAL */
  html,
  body {
    overflow-x: hidden;
    height: 100vh;
  }
  /* HEADER */
  .header {
    position: relative;
    /* NAVIGATOR */
  }
  .header__navigator {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100vh;
    width: 350px;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    border: 1px solid red;
  }
  /* HAMBURGER */
  .hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }
  .hamburger__line {
    width: 40px;
    height: 3px;
    margin: 0 0 3px 0;
    background-color: #006190;
  }
  .navbar {
    margin-top: 100px;
    margin-left: 15px;
    height: auto;
    width: 330px;
  }
  .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__item {
    margin-bottom: 30px;
    font-size: 1.4rem;
  }
  .navbar__item--hovered::before, .navbar__item--hovered::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 1px;
    margin: 5px 0 0;
    opacity: 1;
    left: 0;
    background-color: #808080;
  }
  .fresh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .fresh__button {
    width: 290px;
  }
}
/*# sourceMappingURL=styles.css.map */